[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# RCS1141: Add 'param' element to documentation comment.
dotnet_diagnostic.RCS1141.severity = none
